@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #4f39f6;
  --color-secondary: #eef2ff;
}

*{
  font-family: 'Outfit',sans-serif;
}

